<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<p>"hello word"</p>
<!--<form action="form_action.asp" method="get">-->
number: <input type="text" id="number" name="number" />
<button onclick="mfunction()" >点击查询</button>
<!--</form>-->
<!--<button onclick="click()">点击查询</button>-->
<script>

  function mfunction(){
  var q={"name":"123","price":123}
var val=$("#number").val()
       var val_list=[1,2,3,917246]
          console.log(val);

         $.ajax({
              type: "post",
              url: "/getgrade",
              async: true,
              dataType:'json',
              data:q,
              <!--data:JSON.stringify(val),-->
              success: function (data) {
                  console.log('成功检测');
                  console.log(data);
              },
              error:function () {
                  alert("返回数据失败")
              }
          });
          }

</script>
</body>
</html>